@charset "utf-8";
/* CSS Document */

h3 {
	margin-top:5px !important;	
}

form.form-inline {
	margin-bottom:40px;	
}

p.date {
	color:#999999;	
}

@media(max-width:767px)
{
	input[type=submit] {
		margin-top:20px;
		float:left;
	}
		
	.sublabel {
		float:left;
		width:100%;	
	}
}